body {
  text-align: center;
  margin: 0.5em;
  vertical-align: middle;
  font-family: 'Lucida Console', 'Courier New', monospace;
  font-size: 32px;
  font-size: 2rem;
  font-style: normal;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0;
  word-spacing: 0;
  line-height: 1.2;
  background-color: #eee;
  color: #333;
}

h1 {
  padding: 0.5em;
  font-weight: 300;
  background-color: #333;
  color: #eee;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  margin-bottom: 1em;
}

#content {
  max-width: 760px;
  text-align: left;
  margin: 1em auto;
}

.home-link {
  display: block;
  text-decoration: none;
}


.permalink {
  display: block;
  float: right;
  font-size: 50%;
  color: #aaa;
  text-decoration: none;
}

.permalink:hover {
  text-decoration: underline;
}
